In [113]:
# Import library
import pandas as pd

In [114]:
# Read path
Met_path='/Data Science/Projects/1.Meteorite_Landings/Meteorite_Landings_20231224.csv'

# Read file
Met_read=pd.read_csv(Met_path)

# Describe the file
Met_read.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [115]:
# Show colums
Met_read.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [116]:
# Data prepration_0
Met_pre=Met_read.dropna(axis=0)

# Show head
Met_pre.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [117]:
# Data prepration_1
Met_features=['reclat', 'reclong']

In [118]:
# Data prepration_2
Met_merged=Met_pre[Met_features]
Met_merged.head()

     reclat    reclong
0  50.77500    6.08333
1  56.18333   10.23333
2  54.21667 -113.00000
3  16.88333  -99.90000
4 -33.16667  -64.95000

In [119]:
# Predict section
Met_year=Met_pre.year
Met_year

0        1880.0
1        1951.0
2        1952.0
3        1976.0
4        1902.0
          ...
45711    1990.0
45712    1999.0
45713    1939.0
45714    2003.0
45715    1976.0
Name: year, Length: 38115, dtype: float64

In [120]:
# Import library
from sklearn.tree import DecisionTreeRegressor

In [121]:
# Model making
Met_model= DecisionTreeRegressor(random_state=1)
Met_model.fit(Met_merged,Met_year)

C:\Users\Alireza Malih\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Alireza Malih\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Alireza Malih\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Alireza Malih\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Alireza Malih\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

DecisionTreeRegressor(random_state=1)

In [122]:
# Check the result
print("Making predictions for the following 5 houses:")
print(Met_merged.describe())
print("The predictions are")
print(Met_model.predict(Met_merged.describe()))

Making predictions for the following 5 houses:
             reclat       reclong
count  38115.000000  38115.000000
mean     -39.596529     61.309359
std       46.175830     80.777583
min      -87.366670   -165.433330
25%      -76.716670      0.000000
50%      -71.500000     35.666670
75%        0.000000    157.166670
max       81.166670    178.200000
The predictions are
[1970.         1984.         2000.         1988.         1988.
 1979.71890756 1938.         1970.        ]

C:\Users\Alireza Malih\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Alireza Malih\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Alireza Malih\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):